.links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  transition: all 0.3s;
  transition-timing-function: linear;
  background-color: #cdb091;
}

.links:hover::before {
  height: 100%;
}

.links {
  position: relative;
  overflow: hidden;
  color: #cdb091;
}

.links:hover {
  color: white;
}
